ion-textarea{
    background: #eee;
    padding: 16px;
    border-radius: 12px;
}
ion-buttons{
    padding: 16px;
    ion-button{
        width: 100px;
        
    }
}
.ngx-editor-wrapper{
    width: 100%;
    border:1px solid #fefefe
}

.container  {
    padding: 16px;
}

.input-item{
    width: 50%;
    margin: auto;
}